version: "3.9"

services:
  nextjs_app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      postgres_db:
        condition: service_healthy
    env_file:
      - .env.production
    restart: always

  nginx_proxy:
    image: nginx:stable-alpine
    ports:
      - "3018:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - nextjs_app
    restart: always

  postgres_db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U fatihoune -d survey_db"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 30s
    env_file:
      - .env.production
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
